airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/airflow.db
airflow/standalone_admin_password.txt
airflow/webserver_config.py
airflow/dags/__pycache__/test-dag.cpython-312.pyc
airflow/logs/dag_id=welcome_dag/run_id=manual__2025-01-18T203838.259772+0000/task_id=print_date/attempt=1.log
airflow/logs/dag_id=welcome_dag/run_id=manual__2025-01-18T203838.259772+0000/task_id=print_random_quote/attempt=1.log
airflow/logs/dag_id=welcome_dag/run_id=manual__2025-01-18T203838.259772+0000/task_id=print_welcome/attempt=1.log
airflow/logs/dag_id=welcome_dag/run_id=manual__2025-01-18T204859.559021+0000/task_id=do_a_get/attempt=1.log
airflow/logs/dag_id=welcome_dag/run_id=manual__2025-01-18T204859.559021+0000/task_id=print_date/attempt=1.log
airflow/logs/dag_id=welcome_dag/run_id=manual__2025-01-18T204859.559021+0000/task_id=print_welcome/attempt=1.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/2025-01-18/test-dag.py.log
airflow/webserver_config.py
airflow/airflow.db-journal
